<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUAS</title>
</head>

<body>
    <h3>welcome to our website</h3>

    <button type="submit"><a href="/signup"> Sign Up</a></button>
    <button type="submit"><a href="/signin"> Sign In</a></button>
    <button type="submit"><a href="/signout"> Sign Out</a></button>
    <br>


    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}

    
        

</body>

</html>